<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirector</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <header class="header">
    <h1 class="header-title">Redirector</h1>
  </header>
  <main class="main">
    <div class="shortened-count">URLs Shortened: {{ .shortenedCount }}</div>
    <form onsubmit="onFormUrlSubmit(event)" class="submit-url-form">
      <input
        name="url"
        type="url"
        placeholder="URL"
        required
        class="form-input"
      >
      <button type="submit" class="submit-btn">Submit</button>
      <a id="id-label" target="_blank"></a>
    </form>
    <form onsubmit="onFormUpdateUrlSubmit(event)" class="submit-url-form">
      <input name="id" type="text" placeholder="ID" required class="form-input">
      <input name="url" type="url" placeholder="URL" required class="form-input">
      <button type="submit" class="submit-btn">Update</button>
      <div id="update-label"></div>
    </form>
    <form onsubmit="onFormDeleteUrlSubmit(event)" class="submit-url-form">
      <input name="id" type="text" placeholder="ID" required class="form-input">
      <button type="submit" class="submit-btn">Delete</button>
      <div id="delete-label"></div>
    </form>
  </main>
  <script src="/static/index.js"></script>
</body>
</html>